@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

main{
    padding: 0;
}

/*--------------------Home Page------------------------*/
.homepage-section{
    width:100%;
    box-sizing: border-box;
    font-family:'Montserrat-Regular',sans-serif;
}

.homepage-section .home-cover{
    width: 100%;
    height: 100%;
    max-height: 40vh;
    position: relative;
    display: inline-block;
}

.home-cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-cover .title{
    position: absolute;
    max-width: 600px;
    top: 18%;
    left:5%;
}

.home-cover .title h1{
    font-family:'Montserrat-Bold',sans-serif;
    font-size:clamp(1em,5vh,3.5em);
    color: #fff;
}

.home-cover .title p{
    font-size: clamp(0.8em,3vh,1em);
    color: #fff;
}

.home-cover .buttons{
    position: absolute;
    gap: 80px;
    top: 80%;
    left:5%;
}

.buttons .add-listing-btn{
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 127px;
    background-color: #FFE100;
}

.buttons .add-listing-btn a{
    color: #073066;
    font-family:'Montserrat-SemiBold',sans-serif;
    text-decoration: none;
}

.buttons .add-listing-btn:hover{
    transition: 0.5s ease;
    background-color: #fff;
}

.buttons .add-listing-btn:hover a{
    color: #073066;
}

.buttons .browse-items-btn{
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #fff;
    width: 128px;
    background: transparent;
    color: #fff;
    font-family:'Montserrat-SemiBold',sans-serif;
}

.buttons .browse-items-btn:hover{
    transition: 0.5s ease;
    background-color: #fff;
    border: none;
    color: #073066;
}

.homepage-section .analytics{
    width: 100%;
    padding: 45px 20px 45px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 80px;
    background-color: #fff;
}

.analytics .analytics-item{
    text-align: center;
}

.analytics-item .stat-number{
    font-style: bold;
    font-size: 1.5em;
    font-family:'Montserrat-Bold',sans-serif;
    color: #073066;
}

.analytics-item p{
    font-family:'Montserrat-Regular',sans-serif;
    font-size: 1em;
    color: #073066;
}

.homepage-section .available-bids{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 40px;
}

.available-bids .available-bids-title,
.available-swaps .available-swaps-title{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.available-bids .available-bids-title .left h3,
.available-swaps .available-swaps-title .left h3,
.browse-category .top h3{
    color: #073066;
    font-size: 2em;
    font-family:'Montserrat-Bold',sans-serif;
}

.available-bids .available-bids-title .left p,
.available-swaps .available-swaps-title .left p,
.browse-category .top p{
    font-size:1em ;
    color: #000000;
    font-family:'Montserrat-Regular',sans-serif;
}

.available-bids .available-bids-title .view-all,
.available-swaps .available-swaps-title .view-all{
    font-size:1em ;
    font-family:'Montserrat-Regular',sans-serif;
    color: #073066;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.available-bids .available-bids-title .view-all:hover,
.available-swaps .available-swaps-title .view-all:hover{
    color: #B41B1B;
}

.available-bids .bid-cards-list,
.available-swaps .swap-cards-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 80px;
}

.bid-cards-list .bid-card{
    width: 100%;
    max-width: 317px;
    height: 409px;
    display: flex;
    flex-direction: column;
    border: 1px solid #073066;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bid-cards-list .bid-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}


.bid-cards-list .bid-card .top{
    flex: 3;
    background-color: #073066;
    position: relative;
    overflow: hidden;
}

.bid-cards-list .bid-card .top img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.bid-cards-list .bid-card .top .heart-button-bid {
  flex: 1;
  padding: 5px;
  border: 1px solid #073066;
  color: #073066;
  background: transparent;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bid-cards-list .bid-card .top .heart-button-bid.active {
  color: #B41B1B;
  background-color: #fff;
  border: none;
  transform: scale(1.1);
}

.bid-cards-list .bid-card .top .heart-button-bid:hover{
    transition: 0.5s ease;
    background-color: #fff;
    border: none;
}

.bid-cards-list .bid-card .bottom{
    border-top: 1px solid #073066;
    flex: 2;
    background-color: #fff;
    padding: 10px;
}

.bid-cards-list .bid-card .bottom h6{
    color: #000000;
    font-size: 1.1em;
    font-family:'Montserrat-Regular',sans-serif;
}

.bid-cards-list .bid-card .bottom .category{
    font-size: 0.8em;
    font-family:'Montserrat-Regular',sans-serif;
    padding-bottom: 20px;
    color: #8C8A8A;
}

.bid-cards-list .bid-card .bottom .start-bid{
    padding-bottom: 5px;
    font-size: 0.8em;
    color: #8C8A8A;
}

.bid-cards-list .bid-card .bottom .start-bid .bid-price{
    font-size: 1em;
    font-weight: bold;
    font-family:'Montserrat-Bold',sans-serif;
    margin-left: 10px;
    color: #073066;
}

.bid-cards-list .bid-card .bottom .bid-time-and-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.bid-cards-list .bid-card .bottom .bid-time-and-count .time{
    padding: 5px;
    background-color: #FFE100;
    border-radius: 10px;
}

.bid-cards-list .bid-card .bottom .bid-time-and-count .time p{
    font-size: 0.6em;
    color: #073066;
}

.bid-cards-list .bid-card .bottom .bid-time-and-count .count{
    font-size: 0.8em;
    color: #8C8A8A;
}

.bid-cards-list .bid-card .bottom .join-bid-btn{
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #073066;
    border: none;
    border-radius: 20px;
    padding: 8px;
}

.bid-cards-list .bid-card .bottom .join-bid-btn a{
    color: #fff;
    font-family:'Montserrat-Bold',sans-serif;
    text-decoration: none;
}

.bid-cards-list .bid-card .bottom .join-bid-btn:hover{
    transition: 0.5s ease;
    background: transparent;
    border: 1px solid #073066;
    color: #073066;
}

.bid-cards-list .bid-card .bottom .join-bid-btn:hover a {
    color: #073066;
}

.homepage-section .available-swaps{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
}

.swap-cards-list .swap-card{
    width: 100%;
    max-width: 317px;
    height: 409px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swap-cards-list .swap-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.swap-cards-list .swap-card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.swap-cards-list .swap-card .top .offer-wrap{
    padding: 5px;
    background-color: #FFE100;
    border: none;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

.swap-cards-list .swap-card .top .offer-wrap p{
    color: #073066;
    font-size: 0.8em;
}

.swap-cards-list .swap-card .top .posted-items{
    font-size: 0.8em;
    color: #8C8A8A;
}

.swap-cards-list .swap-card .img-container{
    justify-content: center;
    align-items: center;
    background-color: #073066;
    border-radius: 15px;
    border: 1px solid #073066;
    flex: 4;
    overflow: hidden;
}

.swap-cards-list .swap-card .img-container img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.swap-cards-list .swap-card .bottom{
    text-align: center;
    flex: 2;
    padding-top: 10px;
}

.swap-cards-list .swap-card .bottom h6{
    font-size: 1.1em;
}

.swap-cards-list .swap-card .bottom p{
    font-size: 0.8em;
    color: #8C8A8A;
}

.swap-cards-list .swap-card .button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    width:100%;
    gap:10px;
}

.swap-cards-list .swap-card .button-container button{
    text-align: center;
    padding:10px;
    border:none;
    border-radius: 15px;
    background-color: #073066;
    flex: 6;
}

.swap-cards-list .swap-card .button-container button a{
    color: #fff;
    font-family:'Montserrat-Bold',sans-serif;
    text-decoration: none;
}

.swap-cards-list .swap-card .button-container button:hover{
    transition: 0.5s ease;
    background: transparent;
    color: #073066;
    border: 1px solid #073066;
}

.swap-cards-list .swap-card .button-container button:hover a {
    color: #073066;
}

.swap-cards-list .swap-card .button-container .heart-button-swap{
    flex:1;
    padding:5px;
    background-color: #fff;
    color: #073066;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
}

.swap-cards-list .swap-card .button-container .heart-button-swap:hover{
    transition: 0.5s ease;
    background: transparent;
    border: 1px solid #073066;
}

.swap-cards-list .swap-card .button-container .heart-button-swap.active {
  color: #B41B1B;
  background-color: #fff;
  border: none;
  transform: scale(1.1);
}

.homepage-section .browse-category{
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 30px;
    align-items: center;
}

.browse-category .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.browse-category .category-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:80px;
    justify-items: center;
    padding-top: 40px;
    max-width: 70%;
}

.browse-category .category-grid .category-card{
    background-color: #fff;
    border: none;
    border-radius: 12px;
    padding: 60px 60px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.browse-category .category-grid .category-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.browse-category .category-grid .category-card .category-link{
    font-size: 1.8em;
    font-family:'Montserrat-Bold',sans-serif;
    color:#073066;
    text-decoration: none;
}

.browse-category .category-grid .category-card p{
    font-size: 1em;
    color: #8C8A8A;
}

#category-logo {
  font-size: 3em;
  color: #073066;
  background-color: rgba(7, 48, 102, 0.63);
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


/*-----------------------View All: Bids & Swap--------------------------*/
.viewAll-section{
    box-sizing: border-box;
    background-color:#fff;
    font-family:'Montserrat-Regular',sans-serif;
    padding-bottom: 140px;
    padding-top: 140px; /*Remove this when you insert header*/
}

.viewAll-section .top-nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    z-index: 2;
    top: 0%; /*Remove this when you insert header*/
}

.viewAll-section .top-nav .back-home,
.viewAll-section .top-nav .sort-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: #073066;
    border: none;
    font-size: 1em;
}

.viewAll-section .top-nav .back-home:hover,
.viewAll-section .top-nav .sort-btn:hover{
    color: #B41B1B;
}

.viewAll-section .top-nav .swap-bid-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
}

.viewAll-section .top-nav .swap-bid-container .bid-btn,
.viewAll-section .top-nav .swap-bid-container .swap-btn{
    padding: 10px;
    background-color: transparent;
    color: #073066;
    border: 1px solid #073066;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 1em;
    font-family:'Montserrat-SemiBold',sans-serif;
}

.viewAll-section .top-nav .swap-bid-container .active{
    background-color: #073066;
    color: #fff;
    border: none;
}

.viewAll-section .bid-cards-list,
.viewAll-section .swap-cards-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 80px;
    padding: 0px 150px 0px 150px;
}

.viewAll-section .bottom-nav{
    bottom: 0%;
    padding: 30px;
    border-top: 1px solid #073066;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    z-index: 2;
}

.viewAll-section .bottom-nav .category-name-des-container .title{
    font-size: 2.8em;
    color: #073066;
    font-family:'Montserrat-Bold',sans-serif;
}

.viewAll-section .bottom-nav .category-name-des-container .description{
    font-size: 0.8em;
    color: #8C8A8A;
}

.viewAll-section .bottom-nav .category-name-des-container .description span{
    color: #000000;
}

.viewAll-section .bottom-nav .category-container{
    position: relative;
    display: inline-block;
}

.viewAll-section .bottom-nav .category-container .category-btn{
    margin-left: 20px;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    color: #D9D9D9;
    background-color: #073066;
    font-size: 0.8;
}

.viewAll-section .bottom-nav .category-container .category-btn:hover{
    background-color: transparent;
    color:#073066;
    border: 1px solid #073066;
    transition: 0.5s ease;
}

.viewAll-section .bottom-nav .category-container .dropDown{
  position: absolute;
  bottom: 48px;
  left: 0;
  width: 250px;
  background-color: #fff;
  border:1px solid #073066;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  z-index: 10;
}

.viewAll-section .bottom-nav .category-container .dropDown.active{
    display: flex;
    animation: fadeIn 0.25s ease-in-out;
}

.viewAll-section .bottom-nav .category-container .dropDown .dropDown-item{
    padding: 12px 15px;
    cursor:pointer;
    border-bottom: 1px solid #eee;
    font-size:14px;
    transition: background 0.2s ease;
}

.viewAll-section .bottom-nav .category-container .dropDown .dropDown-item:last-child{
    border-bottom: none;
}

.viewAll-section .bottom-nav .category-container .dropDown .dropDown-item:hover{
    background-color: #8C8A8A;
    font-family:'Montserrat-SemiBold',sans-serif;
}

.viewAll-section .bottom-nav .category-container .category-btn iconify-icon {
  transition: transform 0.5s ease;
}

.viewAll-section .bottom-nav .category-container .category-btn.active iconify-icon {
  transform: rotate(180deg);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}






































