@import "./index.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.profile-section {
    padding: 0;
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.left-nav-menu {
    display: inline-grid;
    gap: 20px;
    padding-left: 30px;
    flex: 1;
}

.left-nav-menu .back-home {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: var(--primary);
    border: none;
    font-size: 1em;
    transition: 0.5s ease;
}

.left-nav-menu .back-home:hover {
    color: var(--primary-red);
}

.left-nav-menu .user-profile-btn {
    background-color: var(--primary);
    color: var(--primary-white);
    padding: 30px 20px;
    width: 300px;
    border-radius: 12px;
    border: none;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-nav-menu .user-profile-btn:hover {
    transform: translateX(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.left-nav-menu .user-profile-btn .img-container {
    flex: 1;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    background-color: var(--primary-base);
    overflow: hidden;
}

.left-nav-menu .user-profile-btn .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.left-nav-menu .user-profile-btn .user-info {
    text-align: left;
}

.left-nav-menu .user-profile-btn .user-info h6 {
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
}

.left-nav-menu .user-profile-btn .user-info p {
    font-size: 1em;
}

.left-nav-menu .user-profile-btn .user-profile-arrow {
    padding-left: 25px;
}


.left-nav-menu .listings-btn,
.left-nav-menu .bids-btn,
.left-nav-menu .swaps-btn,
.left-nav-menu .transactions-btn {
    background-color: var(--primary-base);
    border: 1px solid var(--primary);
    border-radius: 12px;
    padding: 30px 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 5px;
    cursor: pointer;
}

.left-nav-menu .listings-btn.active,
.left-nav-menu .bids-btn.active,
.left-nav-menu .swaps-btn.active,
.left-nav-menu .transactions-btn.active {
    background-color: var(--primary-white);
}

.left-nav-menu .listings-btn:hover,
.left-nav-menu .bids-btn:hover,
.left-nav-menu .swaps-btn:hover,
.left-nav-menu .transactions-btn:hover {
    transform: translateX(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}


.left-nav-menu .listings-btn .listings-logo,
.left-nav-menu .bids-btn .bids-logo,
.left-nav-menu .swaps-btn .swaps-logo,
.left-nav-menu .transactions-btn .transactions-logo {
    font-size: 3em;
    color: var(--primary);
    background-color: rgba(7, 48, 102, 0.63);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-nav-menu .listings-btn h6,
.left-nav-menu .bids-btn h6,
.left-nav-menu .swaps-btn h6,
.left-nav-menu .transactions-btn h6 {
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
}

.left-nav-menu .listings-btn p,
.left-nav-menu .bids-btn p,
.left-nav-menu .swaps-btn p,
.left-nav-menu .transactions-btn p {
    font-size: 1em;
    color: #8C8A8A;
}

.right-side {
    flex: 4.5;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    gap: 10px;
}

.right-side .title-container {
    padding: 10px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side .title-container h3 {
    font-size: 3.5em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
}

.right-side .title-container .analytics {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.right-side .title-container .analytics>div {
    text-align: center;
    padding: 40px;
    border: 1px solid var(--primary);
    border-radius: 20px;
    transition: 0.2s ease;
}

.right-side .title-container .analytics>div:hover {
    transform: translateY(-5px);
}

.right-side .title-container .analytics>div h6 {
    font-size: 1.5em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
}

.right-side .title-container .analytics>div p {
    color: #8C8A8A;
    font-size: 1em;
}

.right-side .profile-listings-content,
.right-side .profile-bids-content,
.right-side .profile-swaps-content {
    background-color: var(--primary-base);
    border-radius: 20px;
    border: none;
    flex: 12;
    padding: 30px;
}

.right-side .profile-listings-content .table-container,
.right-side .profile-bids-content .table-container,
.right-side .profile-swaps-content .table-container {
    max-height: 57vh;
    overflow-y: auto;
    display: block;
}

.profile-listings-content .table-container table,
.profile-bids-content .table-container table,
.profile-swaps-content .table-container table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.profile-listings-content .table-container table thead,
.profile-bids-content .table-container table thead,
.profile-swaps-content .table-container table thead {
    top: 0;
    position: sticky;
    z-index: 20;
    background-color: var(--primary-base);
}


.profile-listings-content .table-container table th,
.profile-bids-content .table-container table th,
.profile-swaps-content .table-container table th {
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
    padding-bottom: 10px;
}

.profile-listings-content .table-container table th.listings-filter,
.profile-bids-content .table-container table th.bids-filter,
.profile-swaps-content .table-container table th.swaps-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-listings-content .table-container table .listings-body-row,
.profile-bids-content .table-container table .bids-body-row,
.profile-swaps-content .table-container table .swaps-body-row {
    background-color: var(--primary-white);
    border: 1px solid var(--primary);
}

.profile-listings-content .table-container table .listings-body-row td,
.profile-bids-content .table-container table .bids-body-row td,
.profile-swaps-content .table-container table .swaps-body-row td {
    padding: 15px;
}

.listings-body-row td:first-child,
.bids-body-row td:first-child,
.swaps-body-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.listings-body-row td:last-child,
.bids-body-row td:last-child,
.swaps-body-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-listings-content .table-container table .listings-body-row .status {
    padding: 5px 15px;
    color: var(--primary-white);
    border-radius: 20px;
    font-size: 0.8em;
    background-color: #8C8A8A;
}

.profile-listings-content .table-container table .listings-body-row .status.active-items {
    background-color: #0D4D06;
}

.profile-listings-content .table-container table .listings-body-row .status.pending-items {
    background-color: var(--accent-hover);
}

.profile-listings-content .table-container table .listings-body-row .status.rejected-items {
    background-color: var(--primary-red);
}

.profile-listings-content .table-container table .listings-body-row .status.sold-items {
    background-color: #8C8A8A;
}


.listings-filter-container,
.bids-filter-container,
.swaps-filter-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listings-filter-btn,
.bids-filter-btn,
.swaps-filter-btn,
.transactions {
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 20px;
    color: var(--primary);
    background-color:transparent;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s ease-in;

}

.listings-filter-btn:hover,
.bids-filter-btn:hover,
.swaps-filter-btn:hover {
    background-color: var(--primary);
    color: var(--primary-white);
}

.show-all {
    font-size: 0.8em;
    font-family: 'Montserrat-Regular', sans-serif;
    cursor: pointer;
    transition: 0.5s ease;
    margin: 0;
    justify-content: center;
}

.show-all:hover {
    color: var(--primary-red);
}

.listings-filter-dropdown,
.bids-filter-dropdown,
.swaps-filter-dropdown {
    position: absolute;
    top: 28%;
    left: 90%;
    transform: translateX(-50%);
    width: 250px;
    background-color: var(--primary-white);
    border: 1px solid var(--primary);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 9999;
    max-height: 280px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.listings-filter-dropdown::-webkit-scrollbar,
.bids-filter-dropdown::-webkit-scrollbar,
.swaps-filter-dropdown::-webkit-scrollbar {
    display: none;
}


.listings-filter-dropdown.active,
.bids-filter-dropdown.active,
.swaps-filter-dropdown.active {
    display: flex;
    animation: fadeIn 0.25s ease-in-out;
}

.dropdown-section .dropDown-header {
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
    background-color: var(--primary-white);
    padding: 8px 10px;
    color: var(--primary);
    margin: 0;
    cursor: pointer;
    border-top: 1px solid #eee;
}

.dropdown-section .dropDown-header:hover {
    background-color: #eee;
}

.dropdown-section .dropDown-header.active {
    background-color: var(--primary);
    color: var(--primary-white);
}

.dropdown-section:first-child .dropDown-header {
    border-top: none;
}

.sub-dropdown {
    display: none;
    flex-direction: column;
    background-color: var(--primary-white);
    border-top: 1px solid #eee;
}

.sub-dropdown .dropDown-item {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background 0.2s ease;
    color: black;
    font-family: 'Montserrat-Regular', sans-serif;
}

.sub-dropdown .dropDown-item:hover {
    background-color: #eee;
}

.sub-dropdown.show {
    display: flex;
    animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.profile-listings-content table .listings-body-row td,
.profile-bids-content table .bids-body-row td,
.profile-swaps-content table .swaps-body-row td {
    color: var(--primary);
}

.profile-listings-content table .listings-body-row .item,
.profile-bids-content table .bids-body-row .item,
.profile-swaps-content table .swaps-body-row .item {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1em;
}

.profile-listings-content table .listings-body-row .actions-container,
.profile-bids-content table .bids-body-row .actions-container,
.profile-swaps-content table .swaps-body-row .actions-container {
    gap: 15px;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.profile-listings-content table .listings-body-row .actions-container .lists-view-btn,
.profile-bids-content table .bids-body-row .actions-container .bids-view-btn,
.profile-swaps-content table .swaps-body-row .actions-container .swaps-view-btn {
    padding: 5px 15px;
    border: 1px solid var(--accent-hover);
    background-color: transparent;
    border-radius: 20px;
    color: var(--accent-hover);
    font-size: 0.8em;
    transition: 0.3s ease;
}

.profile-listings-content table .listings-body-row .actions-container .lists-view-btn:hover,
.profile-bids-content table .bids-body-row .actions-container .bids-view-btn:hover,
.profile-swaps-content table .swaps-body-row .actions-container .swaps-view-btn:hover {
    background-color: var(--accent);
    color: var(--primary);
    border:1px solid var(--accent);
}

.profile-listings-content table .listings-body-row .actions-container .edit-btn:hover{
    color: var(--primary-red);
    transition: 0.3s ease;
}

.profile-user-info-content {
    display: flex;
    align-items: center;
    background-color: var(--primary-base);
    border-radius: 20px;
    padding: 30px;
    gap: 100px;
    width: 100%;
    max-height: 50vh;
    height: 100%;
}

.profile-user-info-content .user-img-container {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

.profile-user-info-content .user-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.profile-user-info-content .user-info-container {
    flex: 2;
    display: inline-block;
}

.user-info-container #user-name-container,
.user-info-container #user-id-container,
.user-info-container #user-email-container,
.user-info-container #user-pass-container,
.user-info-container #change-pass-btn {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding-bottom: 10px;
    align-items: center;
}

.user-info-container #user-name-container h6 {
    font-size: 2.8em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
    padding-bottom: 10px;
}

.user-info-container #user-name-container .edit-icon {
    cursor: pointer;
    color: var(--primary);
    transition: 0.5s ease-in-out;
}

.user-info-container #user-name-container .edit-icon:hover {
    color: var(--primary-red);
}

.user-info-container #user-id-container #user-id,
.user-info-container #user-email-container #user-email,
.user-info-container #user-pass-container #user-id,
.user-info-container #user-pass-container #user-pass {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 1em;
}

.user-info-container #change-pass-btn {
    max-width: 150px;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary);
    color: var(--primary-white);
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 0.7em;
    transition: 0.5s ease-in-out;
}

.profile-user-info-content .profile-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-self: flex-end;
}

.profile-buttons-container #sign-out-btn,
.profile-buttons-container #delete-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-family: 'Montserrat-SemiBold', sans-serif;
    transition: 0.5s ease-in-out;
}

.user-info-container #change-pass-btn:hover,
.profile-buttons-container #sign-out-btn:hover,
.profile-buttons-container #delete-btn:hover {
    background-color: var(--primary);
    color: var(--primary-white);
    border: none;
}