@reference "tailwindcss";
@import "../style/index.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.profile-section {
    @apply flex p-0 pt-[30px] w-[90%] mx-auto;
    @apply lg:flex lg:flex-row lg:p-0 lg:pt-[20px] lg:w-full lg:min-h-screen;
}

.left-nav-menu {
    /* Default: small screens */
    @apply inline-grid flex-[3] w-[90%] p-0 pb-[30px] pl-[15px] pr-0 gap-[10px] mx-auto;

    /* Medium screens */
    @apply md:inline-grid md:flex-[2] md:pl-[25px] md:gap-[10px] md:w-full;

    /* Large screens */
    @apply lg:inline-grid lg:flex-[1] lg:pl-[30px] lg:gap-[15px];
}

.left-nav-menu .back-home {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    color: var(--primary);
    border: none;
    font-size: 1em;
    transition: 0.5s ease;
}

.left-nav-menu .back-home:hover {
    color: var(--primary-red);
}

.left-nav-menu .user-profile-btn {
    background-color: var(--primary);
    color: var(--primary-white);
    padding: 30px 20px;
    width: 300px;
    border-radius: 12px;
    border: none;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-nav-menu .user-profile-btn:hover {
    transform: translateX(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.left-nav-menu .user-profile-btn .img-container {
    border-radius: 50%;
    width: 86px;
    max-height: 86px;
    height: auto;
    background-color: var(--primary-base);
    overflow: hidden;
}

.left-nav-menu .user-profile-btn .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.left-nav-menu .user-profile-btn .user-info {
    text-align: left;
}

.left-nav-menu .user-profile-btn .user-info h6 {
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
}

.left-nav-menu .user-profile-btn .user-info p {
    font-size: 1em;
}

.left-nav-menu .user-profile-btn .user-profile-arrow {
    padding-left: 25px;
}


.left-nav-menu>button:not(:nth-child(1)):not(:nth-child(2)) {
    background-color: var(--primary-base);
    border: 1px solid var(--primary);
    border-radius: 12px;
    padding: 20px 0px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 5px;
    cursor: pointer;
}

.left-nav-menu>button:not(:nth-child(1)):not(:nth-child(2)).active {
    background-color: var(--primary-white);
}

.left-nav-menu>button:not(:nth-child(1)):not(:nth-child(2)):hover {
    transform: translateX(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}


.left-nav-menu .listings-btn .listings-logo,
.left-nav-menu .bids-btn .bids-logo,
.left-nav-menu .swaps-btn .swaps-logo,
.left-nav-menu .favorites-btn .favorites-logo,
.left-nav-menu .feedbacks-btn .feedbacks-logo,
.left-nav-menu .transactions-btn .transactions-logo {
    font-size: 3em;
    color: var(--primary);
    background-color: rgba(7, 48, 102, 0.63);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-nav-menu>button:not(:nth-child(1)):not(:nth-child(2)) h6 {
    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
}

.left-nav-menu>button:not(:nth-child(1)):not(:nth-child(2)) p {
    font-size: 1em;
    color: #8C8A8A;
}

.profile-section .right-side {
    /* Default: small screens → hidden */
    @apply hidden;

    /* Large screens → flex container, column layout, padding, gap, and flex grow */
    @apply lg:flex lg:flex-[4.5] lg:flex-col lg:p-0 lg:pr-[30px] lg:pb-[30px] lg:gap-[10px];
}

.right-side .title-container {
    width: 100%;
    height: auto;
    flex: 1;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.title-container h3 {
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
}

.title-container .analytics {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
}

.title-container .analytics>div {
    text-align: center;
    padding: 30px;
    border: 1px solid var(--primary);
    border-radius: 20px;
    transition: 0.2s ease;
    background-color: var(--primary-white);
    color: var(--primary);
    font-family: 'Montserrat-Regular', sans-serif;
}

.title-container .analytics>div:first-child {
    background-color: var(--primary);
    color: var(--primary-white);
}

.title-container .analytics>div:first-child h6,
title-container .analytics>div:first-child p {
    color: var(--primary-white);
}

.title-container .analytics>div:hover {
    transform: translateY(-5px);
}

.title-container .analytics>div h6 {
    font-size: 1.5em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
}

.title-container .analytics>div p {
    color: var(--dark-secondary);
    font-size: 1em;
}

.right-side .profile-listings-content,
.right-side .profile-bids-content,
.right-side .profile-swaps-content {
    background-color: var(--primary-base);
    border-radius: 20px;
    max-height: 90vh;
    height: auto;
    border: 1px solid var(--primary);
    flex: 12;
    padding: 30px;
}

.right-side .profile-listings-content .table-container,
.right-side .profile-bids-content .table-container,
.right-side .profile-swaps-content .table-container {
    height: 100%;
    overflow-y: auto;
    display: block;
}

.profile-listings-content .table-container table,
.profile-bids-content .table-container table,
.profile-swaps-content .table-container table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.profile-listings-content .table-container table thead,
.profile-bids-content .table-container table thead,
.profile-swaps-content .table-container table thead {
    /* top: 0;
    position: sticky; */
    z-index: 20;
    background-color: var(--primary-base);
}

.profile-listings-content .table-container table th,
.profile-bids-content .table-container table th,
.profile-swaps-content .table-container table th {
    position: sticky;
    top: 0;

    font-size: 1em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
    padding-bottom: 10px;
}

.profile-listings-content .table-container .listings-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.listings-filter-container  .filter-bid-btn,
.listings-filter-container  .filter-swap-btn {
    padding: 5px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    border-radius: 20px;
    color: var(--primary);
    background-color: transparent;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.listings-filter-container .filter-bid-btn:hover,
.listings-filter-container .filter-swap-btn:hover {
    background-color: var(--primary);
    color: var(--primary-white);
}
.listings-filter-container .filter-bid-btn.active,
.listings-filter-container .filter-swap-btn.active{
    background-color: var(--primary);
    color: var(--primary-white);
}

.profile-listings-content .table-container table .listings-body-row,
.profile-bids-content .table-container table .bids-body-row,
.profile-swaps-content .table-container table .swaps-body-row {
    background-color: var(--primary-white);
    border: 1px solid var(--primary);
}

.profile-listings-content .table-container table .listings-body-row td,
.profile-bids-content .table-container table .bids-body-row td,
.profile-swaps-content .table-container table .swaps-body-row td {
    padding: 15px;
}

.listings-body-row td:first-child,
.bids-body-row td:first-child,
.swaps-body-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.listings-body-row td:last-child,
.bids-body-row td:last-child,
.swaps-body-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-listings-content .table-container table .listings-body-row .status {
    padding: 5px 15px;
    color: var(--primary-white);
    border-radius: 20px;
    font-size: 0.8em;
    background-color: #8C8A8A;
}

.profile-listings-content .table-container table .listings-body-row .status.active-items {
    background-color: #0D4D06;
}

.profile-listings-content .table-container table .listings-body-row .status.pending-items {
    background-color: var(--accent-hover);
}

.profile-listings-content .table-container table .listings-body-row .status.rejected-items {
    background-color: var(--primary-red);
}

.profile-listings-content .table-container table .listings-body-row .status.sold-items {
    background-color: #8C8A8A;
}

.profile-listings-content table .listings-body-row td,
.profile-bids-content table .bids-body-row td,
.profile-swaps-content table .swaps-body-row td {
    color: var(--primary);
}

.profile-listings-content table .listings-body-row .item,
.profile-bids-content table .bids-body-row .item,
.profile-swaps-content table .swaps-body-row .item {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1em;
}

.profile-listings-content table .listings-body-row .actions-container,
.profile-bids-content table .bids-body-row .actions-container,
.profile-swaps-content table .swaps-body-row .actions-container {
    gap: 15px;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.profile-listings-content table .listings-body-row .actions-container .lists-view-btn,
.profile-bids-content table .bids-body-row .actions-container .bids-view-btn,
.profile-swaps-content table .swaps-body-row .actions-container .swaps-view-btn {
    padding: 5px 15px;
    border: 1px solid var(--accent-hover);
    background-color: transparent;
    border-radius: 20px;
    color: var(--accent-hover);
    font-size: 0.8em;
    transition: 0.3s ease;
}

.profile-listings-content table .listings-body-row .actions-container .lists-view-btn:hover,
.profile-bids-content table .bids-body-row .actions-container .bids-view-btn:hover,
.profile-swaps-content table .swaps-body-row .actions-container .swaps-view-btn:hover {
    background-color: var(--accent);
    color: var(--primary);
    border: 1px solid var(--accent);
}

.profile-listings-content table .listings-body-row .actions-container .edit-btn:hover {
    color: var(--primary-red);
    transition: 0.3s ease;
}

.profile-user-info-content {
    display: flex;
    align-items: center;
    background-color: var(--primary-base);
    border-radius: 20px;
    padding: 30px;
    gap: 100px;
    width: 100%;
    max-height: 50vh;
    height: 100%;
}

.profile-user-info-content .user-img-container {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

.profile-user-info-content .user-img-container .profile-avatar {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.profile-user-info-content .user-info-container {
    flex: 2;
    display: inline-block;
}

.user-info-container #user-name-container,
.user-info-container #user-id-container,
.user-info-container #user-email-container {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding-bottom: 10px;
    align-items: center;
}


.user-info-container #user-name-container h6 {
    font-size: 2.8em;
    font-family: 'Montserrat-Bold', sans-serif;
    color: var(--primary);
    padding-bottom: 10px;
}

.user-info-container #user-name-container .edit-icon {
    cursor: pointer;
    color: var(--primary);
    transition: 0.5s ease-in-out;
}

.user-info-container #user-name-container .edit-icon:hover {
    color: var(--primary-red);
}

.user-info-container #user-id-container #user-id,
.user-info-container #user-email-container #user-email {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 1em;
}

.user-info-container #change-pass-btn {
    max-width: 250px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border-radius: 20px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 0.7em;
    transition: 0.5s ease-in-out;
}

.user-info-container #change-pass-btn:hover {
    background-color: var(--primary);
    color: var(--primary-white);
}

.profile-user-info-content .profile-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-self: flex-end;
}

.profile-buttons-container #sign-out-btn,
.profile-buttons-container #delete-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-family: 'Montserrat-SemiBold', sans-serif;
    transition: 0.5s ease-in-out;
}

.user-info-container #change-pass-btn:hover,
.profile-buttons-container #delete-btn:hover,
.profile-buttons-container #sign-out-btn:hover {
    background-color: var(--primary);
    color: var(--primary-white);
}

.swap-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.swap-modal-content {
    background: white;
    width: 500px;
    max-width: 90%;
    padding: 20px;
    border-radius: 12px;
}

.swap-modal-close {
    float: right;
    font-size: 22px;
    cursor: pointer;
}